body{position: relative;}

.container{
  width: 960px;
  margin: 0 auto;
}

.main-view-container{
  width: 800px;
  margin: 0 auto;
  position: relative;
}

.blog-content{
  padding: 3px;
  .blog-title{
    font-size: 18px;
    font-weight: bold;
    color: #666;
    margin-bottom: 5px;
  }
}

.blog-footer{
  background-color: #FFE873;
  width: 100%;
  height: 20px;
  margin-top: 20px;
  p{
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    margin-left: 3px;
  }
}

.login{
  position: absolute;
  top: 0;
  right: 0;
  z-index: 12;
}
