.tiny-container{
    overflow: hidden;
    margin: 0 auto;
    position: relative;
}
.tiny-container .list-container{
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
}
.tiny-container .element-list{

}
.tiny-container .tiny-element{
    float: left;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.tiny-container .tiny-element .desc{
   position: absolute;
   bottom: 7px;
   opacity: 0.8;
   background-color: #000;
   color: #fff;
   font-weight: bold;
   width: 100%;
   padding: 2px;
}
.tiny-container .date-divider{
    width: 100%;
    float: left;
}
.tiny-container .date-divider p{
    margin-left: 13px;
    margin-bottom: -8px;
    color: #aaa;
}
.tiny-overlay{
    width: 100%;
    height: 100%;
    position: absolute;

    background-color: transparent;
    z-index: 5;
    display: none;
}
.tiny-container .detail-container{
    position: absolute;
    z-index: 7;
    top: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
    background-color: #fff;
    min-height: 100%;
    display: none;
}
.tiny-edit-panel{
    height: 40px;
    overflow: hidden;
}
.tiny-edit-panel .title{
    height: 25px;
    width: 360px;
    float: left;
    margin-right: 18px;
}
.tiny-edit-panel .banner{
    height: 32px;
    width: 120px;
    overflow: hidden;
    float: left;
    position: relative;
}
.tiny-edit-panel .banner p{
    float: right;
    color: #ccc;
}
.tiny-edit-panel .banner img{
    border: 1px solid #aaa;
    position: absolute;
    width: 30px;
    height: 30px;
    top:0;
    left: 0;
    cursor: pointer;
}
.tiny-edit-panel .opt{
    float: right;
    color: #aaa;
    font-size: 14px;
}
.tiny-edit-panel .opt a{
    margin: 10px 5px;
    text-decoration: none;
    color: #aaa;
}