<!DOCTYPE html>
<html>
<head>
  <title>XY01</title>
  <link rel="stylesheet" href="assets/reset.css" type="text/css">
  <link rel="stylesheet" href="assets/nexus.css" type="text/css">
  <link rel="stylesheet" href="assets/meepo.css" type="text/css">
  <link rel="stylesheet" href="assets/tiny.css" type="text/css">
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<script src="assets/lib/jquery.js"></script>
<script src="assets/lib/bmyth_plugin/meepo.js"></script>
<script src="assets/lib/bmyth_plugin/tiny.js"></script>
<script data-main="assets/main" src="assets/lib/require.js"></script>
</body>
</html>
